body{
    background-image:url("./img/bkg.jpg");
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: fantasy;
    font-style:oblique;
    letter-spacing: 1px;
    line-height: 25px;
    
}
h1{
    display: flex;
    justify-content: center; color: rgba(0, 0, 0, 0.856);
}
h2 {color: rgba(136, 11, 36, 0.856);
}
.a,.b,.d{list-style-type: none;float: left;}
.izg,.dp,.val,.cp,.int {
    clear: both;
}

.val{
    width:20%;
}
.stat{
    height: 25px;background-color: rgba(8, 8, 8, 0.158);
    border-radius: 5px;
}
.lat{ background-color: rgba(0, 160, 0, 0.658);
    height: 25px; width: 85%;border-radius: 5px;
}
.rus{ background-color: rgba(91, 160, 0, 0.658);
    height: 25px; width: 60%;border-radius: 5px;
}
.eng { background-color: rgba(160, 149, 0, 0.658);
    height: 25px; width: 40%;border-radius: 5px;
}
.cp ul{
    list-style-type:square;
}
table{
    border:3px solid rgba(2, 2, 2, 0.575); border-radius: 5px;
}
tr:hover {background-color: rgba(90, 0, 18, 0.384);}
.es{
    border-radius: 8px;
    position: absolute;right: 1%;width: 220px;
    border-style: solid; color: lightslategrey; 
}
.eleja{
    border-radius: 8px;
    position: absolute;right: 16%;
    border-style: solid; color: lightslategrey; 
    width: 220px;
}

  
  